*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: sans-serif;
}

/***** Navigation bar section *****/

#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar
{
	background-image: linear-gradient(to right, #0cacb5, #065c60);
	padding: 0 !important;
}

.navbar-nav li
{
	padding: 0 10px;
}

.navbar-nav li a
{
	color: #fff !important;
	font-weight: 600;
	float: right;
	text-align: left;
}

.navbar-brand
{
	color: #fff !important;
	font-size: 40px !important;
}

.fa-bars
{
	color: #fff;
	font-size: 30px !important;
}

.navbar-toggler
{
	outline: none !important;
}

/***** End of Navigation bar section *****/

/***** Banner Section *****/
#banner
{
	background-image: linear-gradient(to right, #0cacb5, #065c60);
	color: #fff;
	padding-top: 5%;
}

p.promo-title
{
	font-size: 40px;
	font-weight: 600;
	margin-top: 20px;
}

.title::before
{
	content: '';
	background: #0a2454;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	display: block;
	transform: translateY(63px);
}

.title::after
{
	content: '';
	background: #0a2454;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}

/***** End of Banner Section *****/

/***** About Me and Experience Section *****/
.about-image img
{
	width: auto !important;
	height: 200px !important;
}

/***** End of About Me and Experience Section *****/

/***** Contact Form Styling *****/

/* https://www.w3schools.com/howto/howto_css_contact_form.asp */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
	background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container-contact {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
  }

/***** End of Contact Form Styling *****/

/***** Footer Section *****/
#footer
{
	background-image: linear-gradient(to right, #0cacb5, #065c60);
	color: #fff;
}

.footer-box
{
	padding: 20px;
}

.footer-box img
{
	width: 120px;
	margin-bottom: 20px;
}

.footer-box .fa
{
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 2px;
	background-image: linear-gradient(to right, #0cacb5, #065c60);
}