*
{
	margin: 0;
	padding: 0;
}

:root {
	--main-text-color: #000000;
	--main-color-theme: #ffffff;
	--main-fonts: sans-serif;
}

a {
	color: var(--main-color-theme, white);
}

body
{
	font-family: var(--main-fonts);
}

#nav-bar
{
	background-color: var(--main-color-theme, white);
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar-nav li
{
	padding: 0 10px;
}

.navbar-brand
{
	color: var(--main-text-color, black);
	font-size: 40px;
}

.navbar-nav li a
{
	color: var(--main-text-color, black) !important;
	font-weight: 600;
	float: right;
}

.fa-bars
{
	color: var(--main-text-color);
	font-size: 30px !important;
}

.navbar-toggler
{
	outline: none !important;
}

#banner
{
	background-image: linear-gradient(to right, #0cacb5, #065c60);
	color: #fff;
	padding-top: 60px;
	padding-bottom: 60px;
}

p.promo-title
{
	font-size: 45px;
	font-weight: 600;
	margin-top: 20px;
}

.title::before
{
	content: '';
	background: #0a2454;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	display: block;
	transform: translateY(63px);
}

.title::after
{
	content: '';
	background: #0a2454;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}

.about-image img
{
	width: auto !important;
	height: auto !important;
}

/***** Contact Form Styling *****/
/* https://www.w3schools.com/howto/howto_css_contact_form.asp */
/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
  
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	background-color: #45a049;
}
  
/* Add a background color and some padding around the form */
#contact {
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 5px;
}

footer
{
	background-color: var(--main-text-color, black);
	color: var(--main-color-theme, white);
	padding-top: 15px;
}